
<div>
	Add ToDo : <input type ="text" ng-model ="new_todo"></input>
	<input type = "submit" value="add" ng-click = "addToDo()"></input>
</div>	
<h2> Todos</h2>
	<div class="todo_div">

<ul>


	<li class="lists" ng-repeat="todo in todos track by $index" ng-class="{'selected':$index == selectedRow, strikeItem: todo.completed }" ng-click="setClickedRow($index)">
  <!--<input type="checkbox" ng-model="todo.done" ng-checked = "todo.completed" ng-click ="changeTodo()" ng-change="onCompleteTodo(todo)"  >
    </input>  -->
     <span ng-show ="!todo.completed" >{{todo.text}}</span>
    <del ng-show ="todo.completed">{{todo.text}}</del>
    <!--<button ng-click = "play()">play</button>-->
    <button ng-show="!played" type="submit" class="btn btn-small btn-default"  ng-click="play(); showme=true">play</button>
    <!--<button ng-click ="pause(todo.id)">pause</button>-->
    <button ng-show="played" type="submit" class="btn btn-small btn-default" ng-click="pause(todo.id); showme=false">pause</button>
    <!--<button ng-hide ="showme">jdhf</button>-->

    <button ng-hide="showme" ng-show="!todo.completed" ng-click="complete(todo);">Complete</button>
    <button ng-show = "todo.completed" ng-click="removeToDo(todo)">remove</button>
   
   <!-- <button ng-show="showme" ng-click = "removeToDo(todo)">remove</button>-->

    <div my-directive>
    </div>
     </li>
   
  
     <span>{{remaining()}} of {{todos.length}} remaining</span>
       <a href="" ng-click="archive()">archive</a> 
      
      <!--<button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>-->

<ul/>



</div>


