
.selected {
    background-color:lightgrey;
    color:black;
    font-weight:bold;
}
.strikeItem{
		text-decoration: line-through;
		}
.completed_todos_div{
	border: 1px solid grey;
}
.lists {
	border-bottom: 1px solid grey;
	height: 60px;
}
.todo_div{
	border: 1px solid grey;
}